$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1220px;

$desktop-nav-footer-size: 1024px;
$mobile-nav-footer-size: 320px;

$color-etiqueta: #0074c4;
$color-btnSub: #ffff24;

$border-color: #cccccc;

$font-header: "Sueca Slab";
$font-size-header-small: 18px;
$font-size-header-medium: 20px;
$font-size-header-big: 32px;

$line-height-header-small: 28px;
$line-height-header-medium: 32px;
$line-height-header-big: 40px;
