$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1220px;

$desktop-nav-footer-size: 1024px;
$mobile-nav-footer-size: 320px;

$color-etiqueta: #0074c4;
$color-btnSub: #ffff24;

$border-color: #cccccc;

$font-header: "Sueca Slab";
$font-size-header: 24px;

$line-height-header: 28px;
