@import "../../sass/media-queries";
@import "../../sass/variables";

.navbar {
    padding: 15px 30px 10px;
    border-bottom: 1px solid $border-color;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 1340px;
    margin: auto;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 17px;
}

.right_container {
    font-size: 12.5087px;
    &__sub {
        color: $color-etiqueta;
    }
}

@include desktop-nav-footer {
    .navbar {
        padding: 15px 42px 15px;

        &__logo {
            height: 31px;
        }
    }
    .left_container {
        justify-self: start;
        cursor: pointer;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        align-items: center;
        &__menu {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            font-size: 12px;
            .icon {
                margin-right: 0.5rem;
            }
        }
        &__buscar {
            padding: 10px;
            border: 1px solid $border-color;
            border-radius: 3px;
            position: relative;
            background: url("../../assets/lupa.svg") no-repeat right;
            background-size: 27px;
        }
    }

    .right_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__btnLog,
        &__btnSub {
            text-transform: uppercase;
            display: block;
            padding: 9.47px 18px;
            border: 1px solid $border-color;
            border-radius: 3px;
            position: relative;
            font-weight: bold;
        }

        &__btnSub {
            margin: 0px 35px 0px 0px;
            background-color: $color-btnSub;
        }
        &__btnLog {
            color: $color-etiqueta;
            border-color: $color-etiqueta;
            background-color: transparent;
        }
    }
}
